@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@400;500;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo-img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}


header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}

.botao-1 {
    background: #665ae1;
    border-radius: 20.5px;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 41px;
    color: #ffff;
    line-height: 29px;
    font-size: 24px;
    font-weight: 600;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.botao-2 {
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 69px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}